.customButton {
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
    width: 49%;
    align-items: center;
    font-weight: 600;
    background: #2FD05B;
    color: white !important;
    transition: all 0.3s ease;
  }

  .customButton:hover {
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-5px);
    box-shadow: 0 4px 20px #2FD05B;
    border-color: #2FD05B;
  }

  .smallCustomButton {
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 32px;
    padding: 15px;
    width: 25%;
    align-items: center;
    font-weight: 400;
    background: #2FD05B;
    color: white !important;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    .smallCustomButton {
      width: 50%;
    }
  }

  .smallCustomButton:hover {
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-5px);
    box-shadow: 0 4px 20px #2FD05B;
    border-color: #2FD05B;
  }