/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2FD05B;
  --ifm-color-primary-dark: #249643;
  --ifm-color-primary-darker: #165c29;
  --ifm-color-primary-darkest: #0d3718;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(44, 228, 24, 0.749);
}

:root .navbar {
  background-color: #1F2937;
}
:root .navbar__title {
  color: #FFF;
  --ifm-background-color: #0d3718;
}

:root .navbar__items--right {
  color: #FFF;
}
:root .navbar__item {
  color: #FFF;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2FD05B;
  --ifm-color-primary-dark: #249643;
  --ifm-color-primary-darker: #165c29;
  --ifm-color-primary-darkest: #0d3718;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf; 
}

[data-theme='dark']:root {
  --ifm-background-color: #374151;
}

/* Styling one class specially in dark mode */
[data-theme='dark']:root .navbar {
  background-color: #1F2937;
}
